@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: ##E4854C;
    --branco: #CAE44C;
    --laranja: #E44C4C;
    --azul-degrade: linear-gradient(97.54deg, #6a0dad 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #Ff0000;
    --fonte-secundario: "Josefin Sans"; 
    --preto: #d80e4a;
    --cinza: #54ff04;
    --cinza-claro: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
